<br>
<br>
<br>


<div class="row">
  <div class="col-xs-6" id="searchArea">
    <label class='filterLabel' for="filter">FilterBy:</label>
    <select name='filter' ng-model='view.filterBy'>
      <option disabled>Subject</option>
      <option value="Food">Food</option>
      <option value="Literature">Literature</option>
      <option value="Design">Design</option>
      <option value="Performing Arts">Performing Arts</option>
      <option value="Visual Arts">Visual Arts</option>
      <option value="Comedy">Comedy</option>
      <option value="Education">Education</option>
      <option value="Training<">Training</option>
      <option value="Music">Music</option>
      <option value="Tech News">Tech News</option>
      <option>Outdoor</option>
      <option>Training</option>
      <option value="Music">Music</option>
    </select>
    <input type="search"
            class="form-control"
            ng-model="view.query"
            ng-keyup="onKeyupSearch();"
            placeholder="Search for podcasts"
            id="searchBar"/>
    <ul ng-show="displayResults" outside-click="closeMyPopup()">
      <li ng-click="registerSearchSelection(result)"
          ng-repeat="result in results"
          style="unstyled-list"
          ng-model="result">
        <span class="img-wrapper"><img ng-src="{{result.artworkUrl30}}"/></span>
        <span><strong>{{result.collectionName}}</strong> {{result.artistName}}</span>
        <span>{{view.genre}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="row" id="stuff">
  <div class="grid">
    <img ng-repeat='podcast in view.podcasts | filter: filterByCategory' ng-click='showPage(podcast.collectionId)'class='grid-item'ng-src="{{podcast.artworkUrl600}}" alt="">
  </div>
</div>
