<div id="dashboard">

  <h1 id='dashTitle'>{{ view.name.userName }}'s Dashboard</h1>

  <div id="podcastList">

    <div id="podcastDiv" class="col-xs-8 podcast-title-col"
     ng-click="showFavorites()">
    <img ng-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSstfPq6YFFzSmDbniFZjq-ILqMkgbegkBbMRzGG5_O8z2_fFuklw" alt="">
    </div>

    <div id="podcastDiv" class="col-xs-8 podcast-title-col" ng-click="showSaved()">
     <span class='glyphicon glyphicon-time saveLater'></span>

    </div>

    <div ng-repeat="podcast in view.following track by $index">

      <div id="podcastDiv" class="col-xs-8 podcast-title-col" ng-click="getEpisodes(podcast)">
        <img src="{{podcast.images | proxyResource}}" ng-click="searchTitle = podcast.name" class='grid-item'></img>
      </div>
      <button id="unfollowBtn" ng-click="unfollowPodcast(podcast);" >X</button>

    </div>

  </div>

<ul class="list-unstyled" ng-show="view.episodes.length > 0">
  <li ng-repeat="episode in view.episodes | orderBy: filterBy | filter:searchTitle" class="episode-item">
    <bc-episode-search-result episode="episode">
    </bc-episode-search-result>
  </li>
</ul>

</div>
