<div id="dashboard">

  <h1>{{ view.userName }}'s Dashboard</h1>

  <div id="podcastList">

    <div id="podcastDiv" class="col-xs-8 podcast-title-col">
      <img src="http://pngimg.com/upload/star_PNG1595.png"></img>
    </div>

    <div id="podcastDiv" class="col-xs-8 podcast-title-col">
      <img src="http://www.clockservices.net/img/0507/849.png?sitetimestamp=111111111328595274"></img>
    </div>


    <div ng-repeat="podcast in view.following track by $index">

      <div id="podcastDiv" class="col-xs-8 podcast-title-col" ng-click="getEpisodes(podcast)">

        <img src="{{podcast.images}}" ng-click="searchTitle = podcast.name"></img>
      </div>
      <button id="unfollowBtn" ng-click="unfollowPodcast($index);" >X</button>

    </div>

  </div>
  <div id="episodeView">

    <div id="episodeDiv" ng-repeat="episode in view.episodes">
      <button id='playButton' class="btn btn-success btn-sm btn-play" ng-click="addEpisodeToPlayer(episode)"><span class="glyphicon glyphicon-play"></span> Play</button>
      <button class="btn btn-default btn-sm" ng-click="favoriteEpisode(view.following, episode)"><span class="glyphicon glyphicon-star"></span> Favorite</button>
      <button class="btn btn-default btn-sm" ng-click="saveEpisode(view.following, episode)"><span class="glyphicon glyphicon-star"></span> Save</button>

      <div id="episodeInfo">

        <strong>{{episode.name}}</strong>

      </div>
    </div>

  </div>
</div>
