
<div class="row">
  <div class="col-xs-6 text-right">
    <h4>Search iTunes</h4>
  </div>
  <div class="col-xs-6">
    <input type="search"
            class="form-control"
            ng-model="query"
            ng-keyup="onKeyupSearch();"
            placeholder="Search for podcasts"
            style="width: 100%;" />
    <!-- DUMMY DATA BUTTON (delete once site is done) -->
    <button ng-click="getDummy()">Itunes Dummy</button>
    <!--  -->
    <ul ng-show="displayResults" outside-click="closeMyPopup()">
      <li ng-click="registerSearchSelection(result)"
          ng-repeat="result in results"
          style="unstyled-list"
          ng-model="result">
        <span class="img-wrapper"><img ng-src="{{result.artworkUrl30}}"/></span>
        <span><strong>{{result.collectionName}}</strong> {{result.artistName}}</span>
      </li>
    </ul>
  </div>
</div>
