<div class="container-fluid show-podcast">

  <bc-itunes-search></bc-itunes-search>

  <div ng-show="view.errors && view.errors.length > 0" class="row show-error-row">
    <div class="col-xs-12">
      <ul class="list-unstyled error-list">
        <li ng-repeat="err in view.errors">
          {{err}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row podcast-title-row">
    <div class="col-xs-2 col-xs-offset-1">
      <div class="img-wrapper">
        <img class='podcastCoverImg' ng-src="{{view.podcast.artworkUrl600 | formatProtocol}}" />
      </div>
    </div>
    <div class="col-xs-4 podcast-title-col">
       <h2 class='podcastTitle'>{{view.podcast.collectionName}}</h2>
       <h4 class='podcastRating'><strong>Rating: </strong>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
       </h4>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastInfo'>
         <strong>Genre: </strong> {{view.podcast.primaryGenreName}}
       </h5>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastInfo'><strong>Release date: </strong> {{view.podcast.releaseDate | date:'medium'}}</h5>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastDescription'>
         <strong>Description: </strong>
         Lorem ipsum dolor sit amet, diam faucibus ut semper rhoncus wisi, dolor quisque libero facilisis dolor, aenean turpis nibh integer dictum. Aliquam nec dui consequat dui bibendum suspendisse, lorem cras, libero nec.
      </h5>
    </div>
  </div>

      <div class="col-xs-7 podcast-title-col">

      </div>
    <div class="col-xs-5 podcast-title-col">
      <label class='filterLabel' for="filter">Filter By:</label>
      <select name='filter' ng-model='filterBy'>
          <option value="rating">Rating</option>
          <option value="publishedDate">Oldest</option>
          <option value="-publishedDate">Newest</option>
      </select>
      <label class='filterLabel'for="search">Search By Title:</label>
      <input class='filterSearch' type="text" ng-model='searchTitle'>
    </div>
  </div>

  <div class="row episode-row">
    <div class="col-xs-12">
      <ul class="list-unstyled">
        <li ng-repeat="episode in view.episodes | orderBy: filterBy | filter:searchTitle" class="episode-item">
          <strong class='episodeTitle'>{{episode.title}}</strong>
          <h5 class='podcastRating'><strong>Rating: </strong>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
          </h5>
          <a href="{{episode.url}}"><span class="glyphicon glyphicon-play"></span></a>
          <input class='addEpisode' type="checkbox">
            <span class='episodePublishDate'>{{episode.publishedDate | date : 'MMMM d, yyyy'}}
            </span>
            <h5 class='moreDetails'>More
              <i ng-click='showDetails =! showDetails' class="fa fa-chevron-down" aria-hidden="true">
              </i>
            </h5>
              <span>{{episode.filesize}}</span>
              <div ng-show='showDetails' class="episode-snippet">
              {{episode.contentSnippet}}
              </div>

        </li>
      </ul>
    </div>
  </div>

</div>

<!-- <strong>{{view.podcast.collectionId}}</strong> -->
