<div class="container-fluid show-podcast">

  <bc-itunes-search></bc-itunes-search>

  <div ng-show="view.errors && view.errors.length > 0" class="row show-error-row">
    <div class="col-xs-12">
      <ul class="list-unstyled error-list">
        <li ng-repeat="err in view.errors">
          {{err}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row podcast-title-row">
    <div class="col-xs-3 col-xs-offset-1">
      <div class="img-wrapper">
        <img ng-src="{{view.podcast.artworkUrl100 | formatProtocol}}" />
        <button ng-click="addToFavorites()">Add to Favorites</button>
      </div>
    </div>
    <div class="col-xs-8 podcast-title-col">
      <strong>{{view.podcast.collectionId}}</strong> {{view.podcast.collectionName}}
    </div>
  </div>

  <div class="row episode-row">
    <div class="col-xs-12">
      <div class="error-list" ng-show="view.episodes.length === 0">
        Sorry, this podcast does not have playable episodes.
      </div>
      <ul class="list-unstyled" ng-show="view.episodes.length > 0">
        <li ng-repeat="episode in view.episodes" class="episode-item">
          <bc-episode-search-result episode="episode"></bc-episode-search-result>
        </li>
      </ul>
    </div>
  </div>
</div>