<div class="container-fluid show-podcast">

  <bc-itunes-search></bc-itunes-search>

  <div ng-show="view.errors && view.errors.length > 0" class="row show-error-row">
    <div class="col-xs-12">
      <ul class="list-unstyled error-list">
        <li ng-repeat="err in view.errors">
          {{err}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row podcast-title-row">
    <div class="col-xs-3">
      <div class="img-wrapper">
        <img class='podcastCoverImg' ng-src="{{view.podcast.artworkUrl600 | formatProtocol}}" />
        <button class='followButton' ng-click="followPodcast()">
          <span ng-if="!view.following">Follow</span>
          <span ng-if="view.following">Unfollow</span>
        </button>
      </div>
    </div>
    <div class="col-xs-6 podcast-title-col">
       <h2 class='podcastTitle'>{{view.podcast.collectionName}}</h2>
       <div ng-repeat='rating in view.ratings'>
       <!-- <p>{{rating.current}}</p> -->
       <h4 class='ratingTitle'>Rating: </h4>
       <div class='stars' star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
     </div>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastInfo'>
         <strong>Genre: </strong> {{view.podcast.primaryGenreName}}
       </h5>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastInfo'><strong>Release date: </strong> {{view.podcast.releaseDate | date:'medium'}}</h5>
    </div>
    <div class="col-xs-8 podcast-title-col">
       <h5 class='podcastDescription'>
         <strong>Description: </strong>
         {{view.podcast.description}}
      </h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 col-xs-offset-7">
      <label class='filterLabel' for="filter">Filter By:</label>
      <select name='filter' ng-model='filterBy'>
          <option value="rating">Rating</option>
          <option value="publishedDate">Oldest</option>
          <option value="-publishedDate">Newest</option>
      </select>
      <label class='filterLabel'for="search">Search By Title:</label>
      <input class='filterSearch' type="text" ng-model='searchTitle'>
    </div>
  </div>

  <div class="row episode-row">
    <div class="col-xs-12">
      <div class="error-list" ng-show="view.episodes.length === 0">
        Sorry, this podcast does not have playable episodes.
      </div>
      <ul class="list-unstyled" ng-show="view.episodes.length > 0">
        <li ng-repeat="episode in view.episodes | orderBy: filterBy | filter:searchTitle" class="episode-item">
          <bc-episode-search-result episode="episode">
          </bc-episode-search-result>
        </li>
      </ul>
    </div>
  </div><!-- end episode row -->
</div>
